@charset "UTF-8";



.table_shadow{
    width: 100%;
    box-shadow: 0 0 10px rgb(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
}

.table_shadow th, .table_shadow td{
    padding: 10px;
    text-align: left;
}


.table_shadow th{
    text-align: center;
}

.table_shadow thead {
    background-color: #f4f4f4;
}

